

.questionP{
        color:#4275d5b3;
        font-size: 20px;
        /* border: 1px solid #b2c7ed; */
        /* background-color: white; */
        text-align: center;
        /* transition: 0.5s;  */
}


#faqHead{
        color:#4275d5b3;
        text-align: center;
        font-size: 50px;
}


.q{
        color:#4275d5b3;
        font-size: 30px;
        background-color: rgb(232, 232, 232);
        width:100%;
}

details > summary {
        cursor: pointer;
        padding: .5rem 1rem;
        border-bottom: 4px solid #4275d5b3;
}
      
details > summary > * {
        display: inline;
}
      
/* details > div {
        border: 2px solid #fdb;
        margin-top: 0;
        padding: 1rem;
} */