



.tbcontainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 100%;
        border-radius: 7px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
        
}


td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #4275d5c3;
        text-align: center;
        
}

th {
	
        padding-top: 15px;
        padding-bottom: 15px;
	background-color: rgb(224, 234, 255);
	color: #4275d5c3;
        text-align: center;
}

.tableDataBlue{
        background-color: rgb(224, 234, 255);
	color: #4275d5c3;
        text-align: center;
}

/* thead th {
		background-color: #4275d5c3;
                color:whitesmoke;
	
} */

tbody tr:hover {
			background-color: rgba(255,255,255,0.3);
		}
	
tbody td:hover {
	position: relative;
}
  

.sidebar {
        
        background:#4275d5c3;
        height: 100%;
        border-radius: 7px;
        
}
      



.lr{
        display: grid;
        grid-template-columns: 30% 70%;
}

.rightSidebar{
        padding-left: 5px;
        height: 100%;
}

.leftSidebar{
        height: 100%;
}


.navTable ul {
        list-style: none;
}

.navTable li {
          position: relative;
          font-size: 16px;
          font-weight: bold;
          
}


.navTable li a {
        line-height: 3em;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1em;
        color: rgba(#FFF, .6);
        display: block;
        transition: all ease-out 300ms;
}
          
.navTable li:active {
        color: white;

}
          
.navTable li a:not(.active)::after {
        opacity: 0.2;
}
          
.navTable li a:not(.active):hover {
        color: rgba(#FFF, 0.75);
}
          
.navTable li a:not(.active):hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2em;
        background: black;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to right, #0055ff, #f6f7fa4e)
}

.special{
        color:white;
        background-image: linear-gradient(to right, #0055ff, #f6f7fa4e);
       
}



